body {
    background: #14171D;
    display: grid;
    place-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins';
}

button {
    background: #61A5E3;
    font-size: 1.3rem;
    border-radius: .3em;
    padding: 1em 1.5em 1em 1em;
    display: flex;
    cursor: pointer;

    span {
        margin-left: .3em;
    }

    &:hover {
        background: #79BEFD;

        .dropdown {
            display: block;
        }
    }
}

.dropdown {
    background: white;
    border-radius: .3em;
    position: absolute;
    left: .1em;
    padding: .5em;
    width: 100%;
    box-sizing: border-box;
    transform: translateY(-1em);
    transition: transform .5s;
    visibility: hidden;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li a{
           display: flex;
           padding: .8em;
           text-decoration: none;
           color: black;

           span {
            margin-left: .3em;
           }

           &:hover {
            background: #E9E9E9;
           }
        }
    }
}

.container {
    position: relative;

    &:hover .dropdown{
        display: block;
        visibility: visible;
        transform: translateY(0);
    }
}